---
layout: default
title: Home
---

<!-- ========== ABOUT ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
  <p>
  I am a PhD Student at the <a href="https://www.dias.ie/cosmicphysics/geophysics/" target="_blank"><b>Geophysics Section</b>b></a>, <a href="https://dias.ie/" target="_blank">Dublin Institute for Advanced Studies</a>, working on research in the <a href="https://mod3ltherm.ie/" target="_blank">MOD3LTHERM Group</a>.
  My PhD is under the supervision of <a href="https://www.dias.ie/cosmicphysics/geophysics/geo-staff/geo-dr-emma-chambers/" target="_blank">Dr Emma Chambers</a> and funded under the <a href="https://mod3ltherm.ie/" target="_blank">MOD3LTHERM Project</a> by the Research Ireland Pathway Programme.
  I am also registered as a PhD Student at the <a href="https://www.ucd.ie/earthsciences/" target="_blank">School of Earth Sciences</a>, <a href="https://www.ucd.ie/" target="_blank">University College Dublin</a>.
</p>
 <p> 
   As a PhD Student on the <a href="https://mod3ltherm.ie/" target="_blank">MOD3LTHERM Project</a>, the goal of my research is to develop new workflows to accurately assess the geothermal potential in both low and high enthalpy geothermal regions in the world.
   I am developing a new geophysical-petrological-lithological inversion scheme and applyling the method to a local-scale application at Krafla, a high enthalpy geothermal region in Iceland to determine the subsurface geothermal structure. This will help improve the way we use indirect measurements in determining subsurface geothermal potential.
  </p>
  
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I started a PhD in the Autumn of 2024 at the <a href="https://dias.ie/" target="_blank">Dublin Institute for Advanced Studies</a> and <a href="https://www.ucd.ie/" target="_blank">University College Dublin</a>. 
  Previously, I obtained Bachelor and Masters degrees in Physics and Geophysics respectively from the <a href="https://www.knust.edu.gh/" target="_blank">Kwame Nkrumah University of Science and Technology</a>.
  During the summer of 2023, I had the opportunity of working at the Geophysics Department, <a href="https://www.gnpcghana.com/" target="_blank">Ghana National Petroleum Corporation</a>. From 2023 to 2024, I was also appointed Graduate Research Assistant at the Department of Physics, <a href="https://www.knust.edu.gh/" target="_blank">Kwame Nkrumah University of Science and Technology</a>. 
  </p> 
</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>News</h4>
  <!-- <p> Scroll for older news </p> -->
  <UL style="list-style-type: none; padding: 2px; overflow-y: scroll; height:200px;">

  <li><b>[28-Feb-25]</b>
    I will be presenting a poster at <a href="https://www.tcd.ie/geology/news-and-events/igrm-2025/" target="_blank">IGRM 2025</a>.
  </li>
    <li><b>[21-Feb-25]</b>
    <a href="https://mod3ltherm.ie/" target="_blank">MOD3LTHERM</a> abstract: <a href="https://meetingorganizer.copernicus.org/EGU25/EGU25-6881.html" target="_blank">Joint geophysical-petrological-lithological inversion to determine geothermal potential and subsurface temperature</a> has been accepted for <a href="https://www.egu25.eu/" target="_blank">EGU 2025</a>.
  </li>
    </li>
    <li><b>[12-Feb-25]</b>
    I gave a talk at the <a href="https://www.ucd.ie/earthsciences/newsandevents/seminars/" target="_blank">UCD School of Earth Sciences Seminar</a>.
  </li>
  <li><b>[2-Sep-24]</b>
    I have started my PhD at the <a href="https://dias.ie/" target="_blank">Dublin Institute for Advanced Studies</a>.
  </li>
  </UL>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

<!-- ========== RESUME ========== -->
<div class="docs-section" id="vitae">
  <h4>Vitae</h4>

  <p>Full Vitae in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

<!--&lt;!&ndash; ========== RESUME ========== &ndash;&gt;-->
<!--<div class="docs-section" id="vitae">-->
<!--  <h4>Vitæ</h4>-->

<!--  &lt;!&ndash; <p>Full Resume in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p> &ndash;&gt;-->

<!--  &lt;!&ndash; The Timeline &ndash;&gt;-->
<ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

  <!-- ================================== MISC ============================ -->
<div class="docs-section" id="misc">
<h4>Misc</h4>
  <p>
  I enjoy listening to good music.  I also enjoy playing and looking forward to playing in Dublin.
  </p>
  <p>
  I am a huge fun of choral, church, and classical music and my favorite groups are the <a href="https://www.kings.cam.ac.uk/choir" target="_blank">Choir of the King's College, Cambridge</a> and <a href="https://www.youtube.com/channel/UCqOU5rw22_BXKNIuE4rabog" target="_blank">Harmonious Chorale, Ghana</a>. 
  I also enjoy playing games, and reading on history.
  </p> 
</div>  

<!-- ================================== CONTACT ============================ -->
<div class="docs-section" id="contact">
<h4>Contact</h4>
  <p>You can send me a quick line here</p>
<form
  action="https://formspree.io/f/xvgkgzqq"
  method="POST"
>
  <label>
    Email:
    <input type="email" name="email">
  </label>
  <label>
    Message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
</div>
  
<!-- div class="docs-section" id="template" -->
