---
layout: research
<!-- title: Research -->
---


<!-- ========== RESEARCH ========== -->
<div class="docs-section" id="research">
  <h4>Research</h4>

  <p><b>Rsearch updates and resources will be added when available</b>.</p>
  
  
  <p><b>For update on the MOD3LTHERM Project, please visit our website: <a href="https://mod3ltherm.ie/" target="_blank"><b>mod3ltherm.ie</b></a></b>.</p>

    <div class="tab-pane">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:2 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="twelve columns">
            <div class="research-container">

                <div class="research-image-container">
                  <a href="{{ research.url }}">
                    <img src="{{ research.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="research-caption">
                  <p><h5>{{ research.title }}</h5> {{ research.subtitle }}</p>
                </div>

            </div>
          </div>

        {% if index_modulo == 1 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
